<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/admin/A-admin.css">
    <link rel="icon" type="image/x-icon" href="../../static/images/favicon.ico">
    <title>Welcome Admin</title>
</head>
<body>
    <div class="container">
        include ../../views/partials/admin/header.pug
        <div class="aside__section">
            include ../../views/partials/admin/aside.pug
            <section>                
            </section>
        </div>
        include ../../views/partials/admin/footer.pug
    </div>
    <script src="/static/js/admin/admin.js"></script>
</body>
</html>