<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/admin/A-announcement.css">
    <link rel="icon" type="image/x-icon" href="../../static/images/favicon.ico">
    <title>Announcements</title>
</head>
<body>
    <div class="container">
        -if(msg.length>0){
            .success #{msg}
        -}
        include ../../views/partials/admin/header.pug
        <div class="aside__section">
            include ../../views/partials/admin/aside.pug
            <section>
                <form action="/admin/announcement" method="POST">
                    <ul>
                        <li>Announcement for teachers</li>
                    </ul>
                    <div class="announcement__box">
                        <div class="announcement__heading">
                            <label for="heading">Title:</label>
                            <input type="text" id="heading" name="heading" required autocomplete="off">
                        </div>
                        <div class="announcement__by">
                            <label for="by">By:</label>
                            input(type="text" name="by" id="by" readonly=true value="Admin")
                        </div>
                        <div class="announcement__desc">
                            <label for="desc" id="descLabel">Description:</label>
                            <textarea name="desc" id="desc" cols="1" rows="8" required></textarea>
                        </div>
                        <input type="submit" value="Post">
                    </div>
                </form>
            </section>
        </div>
        include ../../views/partials/admin/footer.pug
    </div>
    <script src="/static/js/admin/announcement.js"></script>
</body>
</html>