<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedbacks</title>
    <link rel="stylesheet" href="../../static/css/admin/A-feedback.css">
</head>
<body>
    <div class="container">
        include ../../views/partials/admin/header.pug
        <div class="aside__section">
            include ../../views/partials/admin/aside.pug
            <section>
                -const feedbacks= feedbackArray;
                -let len = feedbacks.length;
                if len != 0
                    <li style="align-self:flex-start;margin-left:3rem;">Feedbacks</li>
                    -for(let i in feedbacks){
                        .notification 
                            .notification__text #{feedbacks[i].msg}
                            .notification__by By: #{feedbacks[i].name}
                    -}
                else 
                    <li style="align-self:flex-start;margin-left:3rem;">#{msg}</li>
            </section>
        </div>
        include ../../views/partials/admin/footer.pug
    </div>
    <script src="/static/js/admin/feedback.js"></script>
</body>
</html>

