<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedbacks</title>
    <link rel="stylesheet" href="../../static/css/admin/A-feedback.css">
</head>
<body>
    <div class="container">
        include ../../views/partials/admin/header.pug
        <div class="aside__section">
            include ../../views/partials/admin/aside.pug
            <section>
                <div class="notification">
                    <div class="notification__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi,
                       | repellat? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi amet qui itaque 
                       </div>
                    <div class="notification__by">
                       | By someone
                    </div>
                </div>
            </section>
        </div>
        include ../../views/partials/admin/footer.pug
    </div>
    <script src="/static/js/admin/feedback.js"></script>
</body>
</html>

