<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/admin/A-login.css">
    <title>Admin Login</title>
</head>
<body>
    include ../../views/partials/navbar.pug 
    -if(msg.length>0){
        .error #{msg}
    -}
    <div class="container">
        <div class="welcome__box">
            <img class="welcome__image" src="/static/images/login.svg" alt="welcome image">
        </div>
        <div class="login__box">
            <h2>Admin Login </h2>            
            <div class="form">
                <div >
                    <img class="people__logo" src="/static/images/admin.svg" alt="Login Image">
                </div>
                <form action="/home/adminLogin" class="form__form" method="POST">
                        <div class="form_div">
                            <input type="text" name="username" id="username" class="form_input" autocomplete="off" placeholder=" " required>
                            <label for="username" class="form_label">Username</label>
                        </div>
                        <div class="form_div">
                            <input type="password" name="password" id="password" class="form_input" autocomplete="off" placeholder=" " required>
                            <label for="password" class="form_label">Password</label>
                        </div>
                        <input type="submit" class="login" value="Login">          
                </form>
            </div>
        </div>
        <div class="strip__triangle"></div>
        <div class="strip"></div>
    </div>
</body>
</html>