<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/partials/aside.css">
</head>
<body>
    
    <aside>
        <div class="aside__box">
            <a href="/student/personalInfo">
                <div class="personal__info box__box">Personal Info</div>
            </a>
            <a href ="/student/academics">
                <div class="academics box__box">Academics</div> 
            </a>
            <a href="/student/achievements">
                <div class="achievements box__box">Achievements</div>
            </a>
            <a href="/student/result">
                <div class=" result box__box">Result</div>

            </a>
            <a href="/student/attendance">
                <div class="attendance box__box">Attendance</div>

            </a>
            <a href="/student/timetable">
                <div class="timetable box__box">Timetable</div>

            </a>
            <a href="/student/classMaterials">
                <div class="class__materials box__box">Class Materials</div>

            </a>
            <a href="/student/pyq">
                <div class="pyq box__box">Previous Questions </div>

            </a>
            <a href="/student/books">
                <div class="books box__box">Books</div>

            </a>
            <a href="/student/clubs">
                <div class="clubs box__box">Clubs Info</div>

            </a>
            <a href="/student/feedback">
                <div class="feedback box__box">Submit Feedback</div>

            </a>
        </div>
    </aside>

</body>
</html>