<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/partials/navbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title></title>
</head>

<body>
  <div class="navbar">
    <a href="/" class="logo-a">
      <img src="../../static/images/student_IMS.png" alt="" class="logo">
    </a>
    <a href="/" class="home">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Register
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content register">
        <a href="/home/teacherRegistration">Teacher</a>
        <a href="/home/registration">Student</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Login
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content login">
        <a href="/home/adminLogin">Admin</a>
        <a href="/home/teacherLogin">Teacher</a>
        <a href="/login">Student</a>
      </div>
    </div>
  </div>
</body>

</html>