<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/partials/navbar.css">
  <title></title>
</head>

<body>
  <div class="navbar">
    <a href="/" class="logo-a">
      <img src="../../static/images/student_IMS.png" alt="" class="logo">
    </a>
    <a href="/home" class="home">Home</a>
    <div class="nav-dropdown">
      <button class="nav-dropbtn">Register &#9660;
      </button>
      <div class="nav-dropdown-content nav-register">
        <a href="/home/teacherRegistration">Teacher</a>
        <a href="/home/registration">Student</a>
      </div>
    </div>
    <div class="nav-dropdown">
      <button class="nav-dropbtn">Login &#9660;
      </button>
      <div class="nav-dropdown-content nav-login">
        <a href="/home/adminLogin">Admin</a>
        <a href="/home/teacherLogin">Teacher</a>
        <a href="/login">Student</a>
      </div>
    </div>
  </div>
</body>

</html>