@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
}

body{
    background-color: #fff1e6;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.6rem;
    height: 500px;
    width: 950px;
    background: linear-gradient(to right, #3a0ca3,#4cc9f0);
    position: relative;

}
.strip__triangle{
    position: absolute;
    right: -23px;
    top:17px;
    transform: rotate(90deg);
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;    
    border-bottom: 15px solid #f0f0f0;
}

.strip{
    position: absolute;
    right: -15px;
    height: 450px;
    width: 15px;
    background-color: #f0f0f0;
    border-bottom-right-radius: 5px;
    box-shadow:  3px 5px 3px 0px rgba(0,0,0,0.1);
}

/* Login Box  */

.container .login__box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 600px;
    background-color: #f0f0f0;
    border-top-left-radius:10% 50%;
    border-bottom-left-radius: 10% 50%;
}


.container .login__box h2{
    color:#444444;
    
}

.container .login__box .form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 19px;
    margin-bottom: 15px;
    padding:1.2rem;
}

/* Login button  */

.container .login__box .login{
    position: absolute;
    bottom: 0;
    outline: none;
    border: none;
    background-color:#3a0ca3;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 20px;
    width: 80px;
    height: 35px;
    cursor: pointer;
    margin-left: 9rem;
}


/* Welcome Box  */
.container .welcome__box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 450px;
    width: 350px;
}

.container .welcome__box .welcome__image{
    width: 300px;
    height: 200px;
}

.container .login__box .welcome__login{
    position: absolute;
    bottom: 2.3rem;
    left: 6rem;
    margin-right: 10rem;
    color: red;
}

.form .people__logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #c7c7c7;
    padding-right: 4px;
}
/* Form  */

.container .login__box .form__form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px 0px ;
    height: 150px;
    width: 300px;
}


.form__form > div{
    width: 75%;
    height: 40px;
    margin: 8px 0px;
}


.form_div{
    position: relative;
    height: 40px;
    margin-bottom: 0.5rem;
}
.form_input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    padding-left: 1rem;
    color:  #3b3b3b;
    font-size: 14px;
    border-radius: 0.50rem;
    background-color: transparent;
}
.form_label{
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    padding: 0.25rem;
    transition: .3s ease-in-out;
    color:  #575757;
}

.form_label:hover{
    cursor: text;
}

.form_input:focus + .form_label{
    top: -0.5rem;
    left: 0.8rem;
    font-weight: 500;
    font-size: 0.75rem;
    background-color: #f0f0f0;
    color: #2c2c2c;   

}
.form_input:not(:placeholder-shown).form_input:not(:focus) + .form_label{
    top: -0.5rem;
    left: 0.8rem;
    font-weight: 500;
    font-size: 0.75rem;
    z-index: 2;
    background-color: #f0f0f0;
}

.error{
    width: 40%;
    text-align: center;
    padding: 0.5rem;
    color: #ffffff;
    background-color: #f56b6b ;
    position: absolute;
    top: 70px;
    left: 408px;
    animation: fadeIn 0.7s, hideAnimation 0s ease-in 3s;
    animation-fill-mode: forwards;
    opacity: 1;
}

.success{
    width: 40%;
    text-align: center;
    padding: 0.5rem;
    color: #ffffff;
    background-color: #42ba96 ;
    position: absolute;
    top: 70px;
    left: 408px;
    animation: fadeIn 0.7s, hideAnimation 0s ease-in 3s;
    animation-fill-mode: forwards;
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
       opacity: 1;
    }
  }

  @keyframes hideAnimation {
    to {
      visibility: hidden;
    }
  }