@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
}

.aside__section{
    display: flex;
}
section{
    margin: 1rem;
    height: 732px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}


.teacher__details{
    margin-top: 2rem;
    width: 90%;
    height: 42%;
    position: relative;
}
.teacher__details .edit{
    position: absolute;
    padding: 0.1rem;
    text-align: center;
    width: 50px;
    left: 800px;
    top: 8px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #ececec;
    color: black;

}

.teacher__details .edit:hover{
    background-color: #c9c9c9;
}


.teacher__details table{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}
.teacher__details table thead{
    display: flex;
    justify-content: center;
    height: 45px;
    background-color: #81a7ee;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}

.teacher__details table thead tr th{
    text-align: center;
    background-color: #81a7ee;
    padding:0.5rem;
}
.teacher__details table tbody{
    display: flex;
    flex-direction: column;
}

.teacher__details table tbody tr:nth-child(2n){
    background-color: #abc4f1;

}
.teacher__details table tbody tr:nth-child(2n+1){
    background-color: #d2def5;

}
.teacher__details table tbody tr:nth-child(1){
    background-color: #81a7ee;
}

.teacher__details table tbody tr th{
    width: 290px;
    text-align: start;
    padding-left: 0.5rem;
    border: 2px solid white;
}
.teacher__details table tbody tr td{
    width: 290px;
    padding-left: 0.5rem;
    border: 2px solid white;
}

.teacher__details .picture{
    position: absolute;
    top: 38px;
    left: 582px;
    height: 288px;
    width: 306px;
    background-color: #81a7ee;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.teacher__details .picture img{
    height: 120px;
    width: 120px;
    border: 2px solid white;
}


.communication__details{
    width: 90%;
}

.communication__details table{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}

.communication__details table thead
{
    display: flex;
    justify-content: center;
    height: 35px;
    background-color: #81a7ee;
    margin-bottom: 0.1rem;
    border-left: 2px solid white;
    border-right: 2px solid white;
    align-items: center;
}

.communication__details table tbody
{
    display: flex;
    flex-direction: column;
}

.communication__details table tbody tr:nth-child(2n+1)
{
    background-color: #abc4f1;
}

.communication__details table tbody tr:nth-child(2n)
{
    background-color: #d2def5;
}


.communication__details table tbody tr th
{
    width: 25%;
    text-align: start;
    padding-left: 0.5rem;
    border: 2px solid white;
}

.communication__details table tbody tr td
{
    width: 224px;
    text-align: start;
    border: 2px solid white;
    padding-left: 0.5rem;

}

.communication__details tbody tr:last-child td{
    width: 700px;
    height: 40px;
}

.success{
    width: 66%;
    height: 40px;
    text-align: center;
    padding: 0.5rem;
    color: #ffffff;
    background-color: #42ba96 ;
    position: absolute;
    top: 182px;
    left: 381px;
    animation: fadeIn 0.7s, hideAnimation 0s ease-in 3s;
    animation-fill-mode: forwards;
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
       opacity: 1;
    }
  }

  @keyframes hideAnimation {
    to {
      visibility: hidden;
    }
  }