@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
}

.aside__section{
    display: flex;
}

form{
    width: 75.5%;
    position: relative;
}

form #address{
    width: 95%;
}

section{
    margin: 1rem;
    height: 732px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

input , select{
    outline: none;
}

form #submit{
    position: absolute;
    bottom: 128px;
    left: 900px;
    padding: 0.2rem;
    border-radius: 15px;
    width: 70px;
    height: 30px;
    border: none;
    background-color: #81a7ee;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

form #submit:hover{
    background-color: #4e87f0;
}

.teacher__details{
    margin-top: 2rem;
    width: 90%;
    height: 42%;
    position: relative;
}

.teacher__details table{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}
.teacher__details table thead{
    display: flex;
    justify-content: center;
    height: 45px;
    background-color: #81a7ee;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}

.teacher__details table thead tr th{
    text-align: center;
    background-color: #81a7ee;
    padding:0.5rem;
}
.teacher__details table tbody{
    display: flex;
    flex-direction: column;
}

.teacher__details table tbody tr:nth-child(2n){
    background-color: #abc4f1;

}
.teacher__details table tbody tr:nth-child(2n+1){
    background-color: #d2def5;

}
.teacher__details table tbody tr:nth-child(1){
    background-color: #81a7ee;
}

.teacher__details table tbody tr th{
    width: 290px;
    text-align: start;
    padding-left: 0.5rem;
    border: 2px solid white;
}
.teacher__details table tbody tr td{
    width: 290px;
    padding-left: 0.5rem;
    border: 2px solid white;
}

.teacher__details .picture{
    position: absolute;
    top: 38px;
    left: 582px;
    height: 312px;
    width: 306px;
    background-color: #81a7ee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.teacher__details .picture .img{
    height: 120px;
    width: 120px;
    border: 2px solid white;
    font-size: 14px;
    display: flex; 
    align-items: center;
    padding-left: 1rem;
}

.teacher__details .picture #image{
    margin-left: 5rem;
}

.communication__details{
    width: 90%;
}

.communication__details table{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}

.communication__details table thead
{
    display: flex;
    justify-content: center;
    height: 35px;
    background-color: #81a7ee;
    margin-bottom: 0.1rem;
    border-left: 2px solid white;
    border-right: 2px solid white;
    align-items: center;
}

.communication__details table tbody
{
    display: flex;
    flex-direction: column;
}

.communication__details table tbody tr:nth-child(2n+1)
{
    background-color: #abc4f1;
}

.communication__details table tbody tr:nth-child(2n)
{
    background-color: #d2def5;
}


.communication__details table tbody tr th
{
    width: 25%;
    text-align: start;
    padding-left: 0.5rem;
    border: 2px solid white;
}

.communication__details table tbody tr td
{
    width: 224px;
    text-align: start;
    border: 2px solid white;
    padding-left: 0.5rem;

}

.communication__details tbody tr:last-child td{
    width: 700px;
    height: 40px;
}
