@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
}

.container header{
    height: 150px;
    width: 100%;
    background-color: #81a7ee;
    display: flex;
    justify-content: space-between;
}
.aside__section{
    display: flex;
}

section{
    margin: 1rem;
    height: 732px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.student__attendance{
    margin-top: 2rem;
    position: relative;  
    width: 90%; 
}


.student__attendance table
{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}

.student__attendance table thead
{
    display: flex;
    justify-content: center;
    height: 35px;
    background-color: #81a7ee;
    margin-bottom: 0.1rem;
    color: white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}


.student__attendance table tbody
{
    display: flex;
    flex-direction: column;
    border-left: 2px solid white;
    border-right: 2px solid white;
}



.student__attendance table tbody tr:nth-child(2n+1)
{
    background-color: #abc4f1;
}


.student__attendance table tbody tr:nth-child(2n)
{
    background-color: #d2def5;
}


.student__attendance table tbody tr td
{
    border:2px solid white;
    padding: 0.5rem;
    
}

.student__attendance table thead tr th
{
    border:2px solid white;
    text-align: center;
    height: 35px;
}
.student__attendance table thead tr th:nth-child(1),
.student__attendance table tbody tr td:nth-child(1)
{
    width: 169px;
}
.student__attendance table thead tr th:nth-child(2),
.student__attendance table tbody tr td:nth-child(2)
{
    width: 150px;
}
.student__attendance table thead tr th:nth-child(3),
.student__attendance table tbody tr td:nth-child(3)
{
    width: 327px;
}
.student__attendance table thead tr th:nth-child(4),
.student__attendance table tbody tr td:nth-child(4)
{
    width: 105px;
    text-align: center;

}
.student__attendance table thead tr th:nth-child(5),
.student__attendance table tbody tr td:nth-child(5)
{
    width: 130px;
    text-align: center;

}

form {
    width: 75%;
}

.student__attendance table tbody tr td:nth-child(1) >input{
    outline: none;
    width: 150px;
}

.student__attendance table tbody tr td:nth-child(2) >input{
    outline: none;
    width: 131px;
}

.student__attendance table tbody tr td:nth-child(3) >input{
    outline: none;
    width: 307px;
}

.student__attendance table tbody tr td:nth-child(4) >input{
    outline: none;
    width: 86px;
    text-align: center;
}

.student__attendance table tbody tr td:nth-child(5) >input{
    outline: none;
    width: 111px;
    text-align: center;
}

form #submit{
    position: absolute;
    bottom: -40px;
    left: 806px;
    padding: 0.2rem;
    border-radius: 15px;
    width: 70px;
    height: 30px;
    border: none;
    background-color: #81a7ee;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

form #submit:hover{
    background-color: #4e87f0;
}

.error{
    width: 65.6%;
    height: 40px;
    text-align: center;
    padding: 0.5rem;
    color: #ffffff;
    background-color: #f56b6b ;
    position: absolute;
    top: 182px;
    left: 381px;
    animation: fadeIn 0.7s, hideAnimation 0s ease-in 3s;
    animation-fill-mode: forwards;
    opacity: 1;
    z-index: 10;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
       opacity: 1;
    }
  }

  @keyframes hideAnimation {
    to {
      visibility: hidden;
    }
  }