<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academics</title>
    <link rel="stylesheet" href="../static/css/academics.css">
</head>

<body>
    <div class="container">
        include ./partials/header.pug
        <div class="aside__section">
            include ./partials/aside.pug
            <section>
                include ./partials/flag.pug
                <br><br><br>
                <div class="secondary__details">
                    <a href="/student/academicsEdit">
                        <div class="edit">Edit</div>
                    </a>
                    <table>
                        <thead>
                            <tr>
                                <th>Institute : 10th (Matric) Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Degree Name</th>
                                <td></td>
                                <th>Board Name</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Institute Name</th>
                                <td></td>
                                <th>Passing Year</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Obtained Marks</th>
                                <td></td>
                                <th>Total Marks</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Total CGPA</th>
                                <td></td>
                                <th>Total Percentage</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Division</th>
                                <td></td>
                                <th>Specialization</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br><br><br>
                <div class="senior__secondary__details">
                    <table>
                        <thead>
                            <tr>
                                <th>Last Institute : +2 (Intermediate) Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Degree Name</th>
                                <td></td>
                                <th>Board Name</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Institute Name</th>
                                <td></td>
                                <th>Passing Year</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Obtained Marks</th>
                                <td></td>
                                <th>Total Marks</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Total CGPA</th>
                                <td></td>
                                <th>Total Percentage</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Division</th>
                                <td></td>
                                <th>Specialization</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br><br><br>
                <div class="institute__details">
                    <table>
                        <thead>
                            <tr>
                                <th>Current Institute : +2+3/4 (Graduation) Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Degree Name</th>
                                <td>B.Tech</td>
                                <th>University Name</th>
                                <td>MAKAUT</td>
                            </tr>
                            <tr>
                                <th>Institute Name</th>
                                <td>Kalyani Goverment Engineering College</td>
                                <th>Passing Year</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Obtained Marks</th>
                                <td></td>
                                <th>Total Marks</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Total CGPA</th>
                                <td></td>
                                <th>Total Percentage</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Division</th>
                                <td></td>
                                <th>Department</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br><br>
            </section>
        </div>
        include ./partials/footer.pug
    </div>
    <script src="../static/js/academics.js"></script>
</body>

</html>