<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/clubs.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>Clubs Info</title>
</head>

<body>
    <div class="container">
        include ./partials/header.pug
        <div class="aside__section">
            include ./partials/aside.pug
            <section>
                include ./partials/flag.pug
                <br><br><br>
                <button class="accordion">Developers Student Club</button>
                <div class="panel">
                    <div class="dsc">
                        <table>
                            <tr>
                                <td><img src="../static/images/clubs/dsc.jpeg" alt=""></td>
                                <td><b>Developer Student Club KGEC</b> is a community where we help each other to grow
                                    |while learning from one another</td>
                                <td><a href="https://www.facebook.com/dsckgec" target="_blank"><img src="../static/images/facebook.png" alt=""></a></td>
                                <td><a href="https://www.instagram.com/dsckgec/" target="_blank"><img src="../static/images/instagram.png" alt=""></a></td>
                                <td><a href="https://www.linkedin.com/company/dsckgec/" target="_blank"><img src="../static/images/linkedin.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Student's Automobile Club</button>
                <div class="panel">
                    <div class="sac">
                        <table>
                            <tr>
                                <td><img src="../static/images/clubs/sac.jpeg" alt=""></td>
                                <td><b>The Students' Automobile Club-KGEC</b> the official automobile club of KGEC is
                                    established to bridge the gap between the techincal knowledge and skills in the
                                    automobile fields among the engineering students</td>
                                <td><a href="https://www.facebook.com/kgecSAC" target="_blank"><img src="../static/images/facebook.png" alt=""></a></td>
                                <td><a href="https://www.instagram.com/sac_kgec/" target="_blank"><img src="../static/images/instagram.png" alt=""></a></td>
                                <td><a href="https://www.linkedin.com/company/students-automobile-club-of-kgec/" target="_blank"><img src="../static/images/linkedin.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Riyaz</button>
                <div class="panel">
                    <div class="riyaz">
                        <table>
                            <tr>
                                <td><img src="../static/images/clubs/riyaz.jpeg" alt=""></td>
                                <td><b>Music Club</b> of Kalyani Government Engineering College</td>
                                <td><a href="https://www.facebook.com/riyazkgec" target="_blank"><img src="../static/images/facebook.png" alt=""></a></td>
                                <td><a href="https://www.instagram.com/riyazkgec/" target="_blank"><img src="../static/images/instagram.png" alt=""></a></td>
                                <td><a><img src="../static/images/linkedin.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Elysium</button>
                <div class="panel">
                    <div class="elysium">
                        <table>
                            <tr>
                                <td><img src="../static/images/clubs/elysium.jpeg" alt=""></td>
                                <td><b>Dance Club</b> of Kalyani Government Engineering College</td>
                                <td><a href="https://www.facebook.com/ElysiumKGEC/" target="_blank"><img src="../static/images/facebook.png" alt=""></a></td>
                                <td><a href="https://www.instagram.com/elysiumkgec/" target="_blank"><img src="../static/images/instagram.png" alt=""></a></td>
                                <td><a><img src="../static/images/linkedin.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Chitrank</button>
                <div class="panel">
                    <div class="chitrank">
                        <table>
                            <tr>
                                <td><img src="../static/images/clubs/chitrank.jpeg" alt=""></td>
                                <td><b>Art Club</b> of Kalyani Government Engineering College</td>
                                <td><a href="https://www.facebook.com/CHITRANK.kgec" target="_blank"><img src="../static/images/facebook.png" alt=""></a></td>
                                <td><a href="https://www.instagram.com/chitrank_kgec/" target="_blank"><img src="../static/images/instagram.png" alt=""></a></td>
                                <td><a><img src="../static/images/linkedin.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Keygen Coders</button>
                <div class="panel">
                    <div class="keygen">
                        <table>
                            <tr>
                                <td><img src="../static/images/clubs/keygen.jpeg" alt=""></td>
                                <td><b>Coding Club</b> of Kalyani Government Engineering College i.e Codechef KGEC Campus Chapter</td>
                                <td><a href="https://www.facebook.com/KeyGEnCoders" target="_blank"><img src="../static/images/facebook.png" alt=""></a></td>
                                <td><a href="https://www.instagram.com/keygencoders/" target="_blank"><img src="../static/images/instagram.png" alt=""></a></td>
                                <td><a href="https://www.linkedin.com/company/keygencoders/about/" target="_blank"><img src="../static/images/linkedin.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Infinitio</button>
                <div class="panel">
                    <div class="infinitio">
                        <table>
                            <tr>
                                <td><img src="../static/images/clubs/infinitio.jpeg" alt=""></td>
                                <td>A platform for mathematics/aptitude enthusiasts of Kalyani Government Engineering College</td>
                                <td><a href="https://www.facebook.com/infinitio.kgec/" target="_blank"><img src="../static/images/facebook.png" alt=""></a></td>
                                <td><a><img src="../static/images/instagram.png" alt=""></a></td>
                                <td><a><img src="../static/images/linkedin.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">E-Cell</button>
                <div class="panel">
                    <div class="ecell">
                        <table>
                            <tr>
                                <td><img src="../static/images/clubs/ecell.jpeg" alt=""></td>
                                <td><b>Entrepreneurship Cell</b> at KGEC is an endeavor to create opportunities for college students in realizing their dreams of starting up.</td>
                                <td><a href="https://www.facebook.com/KGEC.ECELL" target="_blank"><img src="../static/images/facebook.png" alt=""></a></td>
                                <td><a href="https://www.instagram.com/kgececell/" target="_blank"><img src="../static/images/instagram.png" alt=""></a></td>
                                <td><a href="https://www.linkedin.com/company/kgec-e-cell/" target="_blank"><img src="../static/images/linkedin.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Litmus</button>
                <div class="panel">
                    <div class="litmus">
                        <table>
                            <tr>
                                <td><img src="../static/images/clubs/litmus.jpeg" alt=""></td>
                                <td>The <b>Literary Society</b> Of Kalyani Government Engineering College</td>
                                <td><a href="https://www.facebook.com/litmusKGEC/" target="_blank"><img src="../static/images/facebook.png" alt=""></a></td>
                                <td><a href="https://www.instagram.com/litmus_kgec/" target="_blank"><img src="../static/images/instagram.png" alt=""></a></td>
                                <td><a><img src="../static/images/linkedin.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Shutterburg</button>
                <div class="panel">
                    <div class="shutterburg">
                        <table>
                            <tr>
                                <td><img src="../static/images/clubs/shutterburg.jpeg" alt=""></td>
                                <td>The Official <b> Photography & Visual Art Club</b> of Kalyani Government Engineering College</td>
                                <td><a href="https://www.facebook.com/shutterbugkgec" target="_blank"><img src="../static/images/facebook.png" alt=""></a></td>
                                <td><a href="https://www.instagram.com/shutterbugkgec/" target="_blank"><img src="../static/images/instagram.png" alt=""></a></td>
                                <td><a><img src="../static/images/linkedin.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Les Quizerables</button>
                <div class="panel">
                    <div class="quiz">
                        <table>
                            <tr>
                                <td><img src="../static/images/clubs/quiz.jpeg" alt=""></td>
                                <td>Les Quizerables the <b> official quiz club</b> of Kalyani Government Engineering College</td>
                                <td><a href="https://www.facebook.com/LesQuizerablesKgec" target="_blank"><img src="../static/images/facebook.png" alt=""></a></td>
                                <td><a><img src="../static/images/instagram.png" alt=""></a></td>
                                <td><a><img src="../static/images/linkedin.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Robotics Society</button>
                <div class="panel">
                    <div class="robotics">
                        <table>
                            <tr>
                                <td><img src="../static/images/clubs/robotics.jpeg" alt=""></td>
                                <td>The official <b> Robotics Society</b> of Kalyani Government Engineering College</td>
                                <td><a href="https://www.facebook.com/KGECROBOTICS" target="_blank"><img src="../static/images/facebook.png" alt=""></a></td>
                                <td><a><img src="../static/images/instagram.png" alt=""></a></td>
                                <td><a href="https://www.linkedin.com/company/kgecroboticssociety/" target="_blank"><img src="../static/images/linkedin.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Nova</button>
                <div class="panel">
                    <div class="nova">
                        <table>
                            <tr>
                                <td><img src="../static/images/clubs/nova.jpeg" alt=""></td>
                                <td> <b>NOVA</b> the astrophysical society of Kalyani Government Engineering College</td>
                                <td><a href="https://www.facebook.com/kgec.nova/" target="_blank"><img src="../static/images/facebook.png" alt=""></a></td>
                                <td><a><img src="../static/images/instagram.png" alt=""></a></td>
                                <td><a><img src="../static/images/linkedin.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        include ./partials/footer.pug
    </div>
    <script src="../static/js/clubs.js"></script>
</body>

</html>