<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/clubs.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>Clubs Info</title>
</head>

<body>
    <div class="container">
        include ./partials/header.pug
        <div class="aside__section">
            include ./partials/aside.pug
            <section>
                include ./partials/flag.pug
                <br><br><br>
                <button class="accordion">Club-1</button>
                <div class="panel">
                    <div class="club1">
                        <table>
                            <tr>
                                <td><img src="../static/images/clubs/fan-club.png" alt=""></td>
                                <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo provident amet vitae ipsum eius recusandae.</td>
                                <td><a target="_blank"><img src="../static/images/facebook.png" alt=""></a></td>
                                <td><a target="_blank"><img src="../static/images/instagram.png" alt=""></a></td>
                                <td><a target="_blank"><img src="../static/images/linkedin.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Club-2</button>
                <div class="panel">
                    <div class="club2">
                        <table>
                            <tr>
                                <td><img src="../static/images/clubs/fan-club.png" alt=""></td>
                                <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo provident amet vitae ipsum eius recusandae.</td>
                                <td><a target="_blank"><img src="../static/images/facebook.png" alt=""></a></td>
                                <td><a target="_blank"><img src="../static/images/instagram.png" alt=""></a></td>
                                <td><a target="_blank"><img src="../static/images/linkedin.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Club-3</button>
                <div class="panel">
                    <div class="club3">
                        <table>
                            <tr>
                                <td><img src="../static/images/clubs/fan-club.png" alt=""></td>
                                <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo provident amet vitae ipsum eius recusandae.</td>
                                <td><a target="_blank"><img src="../static/images/facebook.png" alt=""></a></td>
                                <td><a target="_blank"><img src="../static/images/instagram.png" alt=""></a></td>
                                <td><a target="_blank"><img src="../static/images/linkedin.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Club-4</button>
                <div class="panel">
                    <div class="club4">
                        <table>
                            <tr>
                                <td><img src="../static/images/clubs/fan-club.png" alt=""></td>
                                <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo provident amet vitae ipsum eius recusandae.</td>
                                <td><a target="_blank"><img src="../static/images/facebook.png" alt=""></a></td>
                                <td><a target="_blank"><img src="../static/images/instagram.png" alt=""></a></td>
                                <td><a target="_blank"><img src="../static/images/linkedin.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Club-5</button>
                <div class="panel">
                    <div class="club5">
                        <table>
                            <tr>
                                <td><img src="../static/images/clubs/fan-club.png" alt=""></td>
                                <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo provident amet vitae ipsum eius recusandae.</td>
                                <td><a target="_blank"><img src="../static/images/facebook.png" alt=""></a></td>
                                <td><a target="_blank"><img src="../static/images/instagram.png" alt=""></a></td>
                                <td><a target="_blank"><img src="../static/images/linkedin.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Club-6</button>
                <div class="panel">
                    <div class="club6">
                        <table>
                            <tr>
                                <td><img src="../static/images/clubs/fan-club.png" alt=""></td>
                                <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo provident amet vitae ipsum eius recusandae.</td>
                                <td><a target="_blank"><img src="../static/images/facebook.png" alt=""></a></td>
                                <td><a target="_blank"><img src="../static/images/instagram.png" alt=""></a></td>
                                <td><a target="_blank"><img src="../static/images/linkedin.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        include ./partials/footer.pug
    </div>
    <script src="../static/js/clubs.js"></script>
</body>

</html>