<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/pyq.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>Previous Year Questions</title>
</head>
<body>
    <div class="container">
        include ./partials/header.pug
        <div class="aside__section">
            include ./partials/aside.pug
            <section>
                include ./partials/flag.pug
                <br><br><br>
                <button class="accordion">Semester 1</button>                
                <div class="panel">
                    <div class="semester1">
                        <table>
                            <tr>
                                <th>Subject<img src="../static/images/right-arrow.png" alt="">
                                <br>Year <img style="padding-top: 0.2rem;" src="../static/images/down-arrow.png" alt="">
                                </th> 
                                <th>BSCH101</th>
                                <th>BSM102</th>
                                <th>ESEE101</th> 
                                <th>BSCH191</th>
                                <th>ESEE191</th>
                                <th>ESME191</th>
                            </tr>
                            <tr>
                                <th>2018</th>
                                <td><a href="https://www.makaut.com/papers/btech-1-sem-chemistry-1-bs-ch-101-2019.pdf" target="_blank">view</a></td>
                                <td><a href="https://www.makaut.com/papers/btech-1-sem-mathematics-1b-bs-m-102-2019.pdf" target="_blank">view</a></td>
                                <td><a href="https://www.makaut.com/papers/btech-1-sem-basic-electrical-engineering-es-ee-101-2019.pdf" target="_blank">view</a></td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                            </tr>
                            <tr>
                                <th>2019</th>
                                <td><a href="https://www.makaut.com/papers/btech-1-sem-chemistry-1-bs-ch-101-2020.pdf" target="_blank">view</a></td>
                                <td><a href="https://www.makaut.com/papers/btech-1-sem-mathematics-1b-bs-m-102-2020.pdf" target="_blank">view</a></td>
                                <td><a href="https://www.makaut.com/papers/btech-1-sem-basic-electrical-engineering-es-ee-101-2020.pdf" target="_blank">view</a></td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Semester 2</button>                
                <div class="panel">
                    <div class="semester1">
                        <table>
                            <tr>
                                <th>Subject<img src="../static/images/right-arrow.png" alt="">
                                <br>Year <img style="padding-top: 0.2rem;" src="../static/images/down-arrow.png" alt="">
                                </th> 
                                <th>BSPH201</th>
                                <th>BSM202</th>
                                <th>ESCS201</th> 
                                <th>HMHU201</th>
                                <th>BSPH291</th>
                                <th>ESCS291</th>
                                <th>ESME292</th>
                                <th>HMHU291</th>
                            </tr>
                            <tr>
                                <th>2018</th>
                                <td><a href="https://www.makaut.com/papers/btech-1-sem-physics-1-bs-ph-101-2019.pdf" target="_blank">view</a></td>
                                <td><a href="https://www.makaut.com/papers/btech-1-sem-mathematics-1b-bs-m-102-2019.pdf" target="_blank">view</a></td>
                                <td><a href="https://www.makaut.com/papers/btech-cs-201-basic-computation-and-principles-of-computer-programming-2018.pdf" target="_blank">view</a></td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                            </tr>
                            <tr>
                                <th>2019</th>
                                <td><a href="https://www.makaut.com/papers/btech-1-sem-physics-1-ph-101-2020.pdf" target="_blank">view</a></td>
                                <td><a href="https://www.makaut.com/papers/btech-1-sem-mathematics-1b-bs-m-102-2020.pdf" target="_blank">view</a></td>
                                <td><a href="https://www.makaut.com/papers/btech-cs-201-basic-computation-and-principles-of-computer-programming-2019.pdf" target="_blank">view</a></td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Semester 3</button>                
                <div class="panel">
                    <div class="semester1">
                        <table>
                            <tr>
                                <th>Subject<img src="../static/images/right-arrow.png" alt="">
                                <br>Year <img style="padding-top: 0.2rem;" src="../static/images/down-arrow.png" alt="">
                                </th> 
                                <th>PCEE301</th>
                                <th>PCEE302</th>
                                <th>PCEE303</th> 
                                <th>ESME301</th>
                                <th>BSM301</th>
                                <th>BS301</th>
                                <th>MCEE301</th>
                                <th>PCCS391</th>
                                <th>PCEE391</th>
                                <th>PCEE392</th>
                            </tr>
                            <tr>
                                <th>2018</th>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                            </tr>
                            <tr>
                                <th>2019</th>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </section>
        </div>
        include ./partials/footer.pug        
    </div>
    <script src="../static/js/pyq.js"></script>
</body>
</html>