<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/pyq.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>Previous Year Questions</title>
</head>
<body>
    <div class="container">
        include ./partials/header.pug
        <div class="aside__section">
            include ./partials/aside.pug
            <section>
                include ./partials/flag.pug
                <br><br><br>
                <button class="accordion">Semester 1</button>                
                <div class="panel">
                    <div class="semester1">
                        <table>
                            <tr>
                                <th>Subject<img src="../static/images/right-arrow.png" alt="">
                                <br>Year <img style="padding-top: 0.2rem;" src="../static/images/down-arrow.png" alt="">
                                </th> 
                                <th>SUB101</th>
                                <th>SUB102</th>
                                <th>SUB103</th> 
                                <th>SUB104</th>
                                <th>SUB105</th>
                                <th>SUB106</th>
                            </tr>
                            <tr>
                                <th>2021</th>
                                <td><a  target="_blank">view</a></td>
                                <td><a  target="_blank">view</a></td>
                                <td><a  target="_blank">view</a></td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                            </tr>
                            <tr>
                                <th>2020</th>
                                <td><a target="_blank">view</a></td>
                                <td><a target="_blank">view</a></td>
                                <td><a target="_blank">view</a></td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Semester 2</button>                
                <div class="panel">
                    <div class="semester1">
                        <table>
                            <tr>
                                <th>Subject<img src="../static/images/right-arrow.png" alt="">
                                <br>Year <img style="padding-top: 0.2rem;" src="../static/images/down-arrow.png" alt="">
                                </th> 
                                <th>SUB201</th>
                                <th>SUB202</th>
                                <th>SUB203</th> 
                                <th>SUB204</th>
                                <th>SUB205</th>
                                <th>SUB206</th>
                                <th>SUB207</th>
                                <th>SUB208</th>
                            </tr>
                            <tr>
                                <th>2021</th>
                                <td><a target="_blank">view</a></td>
                                <td><a target="_blank">view</a></td>
                                <td><a target="_blank">view</a></td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                            </tr>
                            <tr>
                                <th>2020</th>
                                <td><a target="_blank">view</a></td>
                                <td><a target="_blank">view</a></td>
                                <td><a target="_blank">view</a></td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="accordion">Semester 3</button>                
                <div class="panel">
                    <div class="semester1">
                        <table>
                            <tr>
                                <th>Subject<img src="../static/images/right-arrow.png" alt="">
                                <br>Year <img style="padding-top: 0.2rem;" src="../static/images/down-arrow.png" alt="">
                                </th> 
                                <th>SUB301</th>
                                <th>SUB302</th>
                                <th>SUB303</th> 
                                <th>SUB304</th>
                                <th>SUB305</th>
                                <th>SUB306</th>
                                <th>SUB307</th>
                                <th>SUB308</th>
                                <th>SUB309</th>
                                <th>SUB310</th>
                            </tr>
                            <tr>
                                <th>2021</th>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                            </tr>
                            <tr>
                                <th>2020</th>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                                <td>view</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </section>
        </div>
        include ./partials/footer.pug        
    </div>
    <script src="../static/js/pyq.js"></script>
</body>
</html>