<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome #{firstName} #{lastName}</title>
    <link rel="stylesheet" href="../static/css/student.css">
</head>

<body>
    <div class="container">
        include ./partials/header.pug
        <div class="aside__section">
            include ./partials/aside.pug
            <section>
                <div class="flag">
                    <div class="flag__icon">!</div>
                    <div class="flag__text">
                      |  Please fill the necessary information in the <a href="/student/personalInfo">personal info</a>
                    </div>
                </div>
                <div class="notice__board">Notice Board</div>
                <div class="notification">
                    <div class="notification__title">Seminar</div>
                    <div class="notification__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi,
                       | repellat? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi amet qui itaque 
                       </div>
                    <div class="notification__more">
                       | By someone
                    </div>
                </div>
            </section>
        </div>
        include ./partials/footer.pug
    </div>
    <script src="../static/js/student.js"></script>
</body>

</html>