<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timetable</title>
    <link rel="stylesheet" href="../static/css/timetable.css">
</head>

<body>
    <div class="container">
        include ./partials/header.pug
        <div class="aside__section">
            include ./partials/aside.pug
                <section>
                    include ./partials/flag.pug
                    <br><br><br>
                    <div class="msg">
                        if pdf!=undefined 
                            ul 
                                li Download the timetable 
                                    a(href=link+pdf target="_blank") here
                        else 
                            ul 
                                li No timetable has been uploaded by Admin
                    </div>
                </section>
        </div>
        include ./partials/footer.pug
    </div>
    <script src="../static/js/timetable.js"></script>
</body>

</html>