<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcement</title>
    <link rel="stylesheet" href="../../static/css/teacher/T-announcement.css">
</head>
<body>
    <div class="container">
    -if(msg.length>0){
        .success #{msg}
    -}
        include ../../views/partials/teacher/header.pug
        <div class="aside__section">
            include ../../views/partials/teacher/aside.pug
            <section>
                include ../../views/partials/teacher/flag.pug
                <form action="/teacher/announcement" method="POST">
                    <ul>
                        <li>Announcement for students</li>
                    </ul>
                    <div class="announcement__box">
                        <div class="announcement__heading">
                            <label for="heading">Title:</label>
                            <input type="text" id="heading" name="heading" required>
                        </div>
                        <div class="announcement__by">
                            <label for="by">By:</label>
                            input(type="text" name="by" id="by" readonly=true value=firstName+" "+lastName)
                        </div>
                        <div class="announcement__desc">
                            <label for="desc" id="descLabel">Description:</label>
                            <textarea name="desc" id="desc" cols="1" rows="8" required></textarea>
                        </div>
                        <input type="submit" value="Post">
                    </div>
                </form>
            </section>
        </div>
        include ../../views/partials/teacher/footer.pug
    </div>
    <script src="/static/js/teacher/announcement.js"></script>
</body>
</html>