<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Info</title>
    <link rel="stylesheet" href="../../static/css/teacher/T-personalInfo.css">
</head>
<body>
    <div class="container">
        include ../../views/partials/teacher/header.pug
        <div class="aside__section">
            include ../../views/partials/teacher/aside.pug
            <section>    
                include ../../views/partials/teacher/flag.pug 
                <div class="teacher__details">                    
                    <a href="">
                        <div class="edit">Edit</div>
                    </a>
                    <table>
                        <thead>
                            <tr>
                                <th>Teacher Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Personal Details</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Registration Number</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Enrolled Year</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Alloted Department</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Alloted Semester</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Alloted Subject</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>DOB</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Category</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Gender</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Blood Group</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Aadhar Number</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="picture">
                        <img src="" alt="Teacher Image">
                    </div>
                </div>
                <br><br><br>
                <div class="communication__details">
                    <table>
                        <thead>
                            <tr>
                                <th>Communication Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Father's Name</th>
                                <td></td>
                                <th>Mother's name</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td></td>
                                <th>Mobile Number</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td></td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        include ../../views/partials/teacher/footer.pug
    </div>
    <script src="/static/js/teacher/personalInfo.js"></script>
</body>
</html>