@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
}

.aside__section{
    display: flex;
}

form  input,
form  select{
    outline: none;
}

form #secondaryBoardName,
form #seniorSecondaryBoardName,
form #secondaryPassingYear,
form #seniorSecondaryPassingYear,
form #secondaryTotalMarks, 
form #seniorSecondaryTotalMarks,
form #secondaryTotalPercentage,
form #seniorSecondaryTotalPercentage,
form #secondarySpecialization,
form #seniorSecondarySpecialization
{
    width: 120px;
    margin-right: 0.5rem;
}

form #secondaryDegreeName,
form #secondaryInstituteName
{
    width: 90%;
}

form #submit{
    padding: 0.5rem;
    border-radius: 15px;
    width: 70px;
    height: 30px;
    border: none;
    background-color: #81a7ee;
    color: white;
    cursor: pointer;
    font-weight: 600;
    align-self: flex-end;
    margin-right: 4rem;
}

form #submit:hover{
    background-color: #4e87f0;
}

section{
    margin: 1rem;
    height: 732px;
    width: 106%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.institute__details,
.secondary__details,
.senior__secondary__details
{
    position: relative;  
    width: 90%;  
}

.secondary__details table,
.institute__details table,
.senior__secondary__details table
{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}
.secondary__details table thead,
.institute__details table thead,
.senior__secondary__details table thead
{
    display: flex;
    justify-content: center;
    height: 35px;
    background-color: #81a7ee;
    margin-bottom: 0.1rem;
    padding-top: 0.4rem;
    color: white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.secondary__details table tbody,
.institute__details table tbody,
.senior__secondary__details table tbody
{
    display: flex;
    flex-direction: column;
}


.secondary__details table tbody tr:nth-child(2n+1),
.institute__details table tbody tr:nth-child(2n+1),
.senior__secondary__details table tbody tr:nth-child(2n+1)
{
    background-color: #abc4f1;
}

.secondary__details table tbody tr:nth-child(2n),
.institute__details table tbody tr:nth-child(2n),
.senior__secondary__details table tbody tr:nth-child(2n)
{
    background-color: #d2def5;
}

.secondary__details table tbody tr:nth-child(n) td:last-child,
.institute__details table tbody tr:nth-child(n) td:last-child,
.senior__secondary__details table tbody tr:nth-child(n) td:last-child
{
    text-align: center;
}

.secondary__details table tbody tr th,
.institute__details table tbody tr th,
.senior__secondary__details table tbody tr th
{
    height: 50px;
    text-align: start;
    padding-left: 0.4rem;
    border:2px solid white;
}

.secondary__details table tbody tr td,
.institute__details table tbody tr td,
.senior__secondary__details table tbody tr td
{
    border:2px solid white;
    text-align: start;
    padding-left: 0.5rem;
}

.secondary__details table tbody tr th:nth-child(1),
.senior__secondary__details table tbody tr th:nth-child(1),
.institute__details table tbody tr th:nth-child(1)
{
    width: 200px;
}


.secondary__details table tbody tr td:nth-child(2),
.institute__details table tbody tr td:nth-child(2),
.senior__secondary__details table tbody tr td:nth-child(2)
{
    width: 350px;
}
.secondary__details table tbody tr th:nth-child(3),
.senior__secondary__details table tbody tr th:nth-child(3),
.institute__details table tbody tr th:nth-child(3)
{
    width: 180px;
}
.secondary__details table tbody tr td:nth-child(4),
.institute__details table tbody tr td:nth-child(4),
.senior__secondary__details table tbody tr td:nth-child(4)
{
    width: 140px;
}


/* error */
.error{
    width: 65%;
    height: 40px;
    text-align: center;
    padding: 0.5rem;
    color: #ffffff;
    background-color: #f56b6b ;
    position: absolute;
    top: 182px;
    left: 381px;
    animation: fadeIn 0.7s, hideAnimation 0s ease-in 3s;
    animation-fill-mode: forwards;
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
       opacity: 1;
    }
  }

  @keyframes hideAnimation {
    to {
      visibility: hidden;
    }
  }