@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
}

.aside__section{
    display: flex; 
}
section{
    margin: 1rem;
    height: 732px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.accordion {
    background-color: #81a7ee;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.2s;
    font-size: 16px;
    border-bottom: 2px solid white;
}

.active, .accordion:hover {
    background-color: #5a8ce7;
}

.accordion:after {
    content: "+";
    font-size: 20px;
    float: right;
}
  
.active:after {
    content: "-";
    font-size: 20px;

}
   
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

.panel .semester1{
    width: 800px;
    height: max-content;
    padding: 0.3rem;
}


.panel .semester2
{
    padding: 0.3rem;
    width: 800px;
    height: max-content;
    margin-bottom: 10px;
}

.panel .semester3{
    padding: 0.3rem;
    width: 800px;
    height: max-content;
}

section .material{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: max-content;
    padding: 0.5rem 1rem;
    background-color: rgb(231, 231, 231);
    border: 0.2px solid grey;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 15px;
}
.material .material__title{
    padding: 0.5rem;
    font-weight: bold;
    color: rgb(247, 115, 39);
}
.material .material__text{
    padding: 0.5rem;
}
.material .material__more{
    padding: 0.5rem;
    color: blue;
}
.material .material__link{
    padding: 0.5rem;
}