*{
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    height: 60px;
  }
  

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.logo{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


.nav-dropdown {
  float: left;
  overflow: hidden;
}


.nav-dropdown .nav-dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin-top: 10px;
}

.nav-dropdown:hover .nav-dropbtn, .home:hover{
  background-color: #525252;
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-register{
  width: 113px;
}

.nav-login{
  width: 93px;
}

.nav-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav-dropdown-content a:hover {
  background-color: #ddd;
}


.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}

.home {
  margin-top: 10px;
}
