<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/partials/teacher/aside.css">
</head>
<body>
    <aside>
        <div class="aside__box">
            <a href="/teacher/TpersonalInfo">
                <div class="personal__info box__box">Personal Info</div>
            </a>
            <a href="/teacher/classMaterialsUpload">
                <div class="class__materials box__box">Class Materials</div>
            </a>
            <a href="/teacher/studentResult">
                <div class="student__results box__box">Student Result</div>
            </a>
            <a href="/teacher/announcement">
                <div class="announcement box__box">Announcement</div>
            </a>
            <a href="/teacher/studentAttendance">
                <div class="students__attendance box__box">Student Attendance</div>
            </a>
            <a href="/teacher/feedback">
                <div class="feedback box__box">Submit feedback</div>
            </a>
        </div>
    </aside>
</body>
</html>