<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/partials/admin/aside.css">
</head>
<body>
    <aside>
        <div class="aside__box">
            <a href="/admin/teacherAllocation">
                <div class="teacher__allocation box__box">Teacher Allocation</div>
            </a>
            <a href="/admin/feedbacks">
                <div class="feedback box__box">Feedbacks</div>
            </a>
            <a href="/admin/timetable">
                <div class="timetable box__box">Timetable</div>
            </a>
            <a href="/admin/announcement">
                <div class="announcement box__box">Announcement</div>
            </a>
        </div>
    </aside>
</body>
</html>